.clients__testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
}

.clients__photo-img {
  display: block;
  width: 100%;
}

.clients__text {
  position: relative;
  background-color: #53354a;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.clients__quote-figure {
  max-width: 500px;
  margin: 15px 85px 93px 85px;
}

.clients__quote {
  color: #ffffff;
  font-family: 'Cardo';
  font-size: 2.25rem;
  font-style: italic;
  line-height: 2.625rem;
  text-align: left;
}

.clients__quote::before {
  content: open-quote;
}

.clients__quote::after {
  content: close-quote;
}

.clients__name {
  margin-top: 30px;

  color: #ffffff;
  font-family: 'Raleway';
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.slick-prev {
  left: 25px;
  z-index: 1;
}

.slick-next {
  right: 25px;
}

.slick-dots {
  width: auto;
  left: calc(50% + 289px);
  bottom: 20%;
}

.slick-dots li {
  width: 12px;
  height: 12px;
  margin: 0 4px;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
  padding: 0px;
}

.slick-dots li button:before {
  font-size: 12px;
  line-height: 12px;

  width: 12px;
  height: 12px;

  opacity: 0.2;
  color: white;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}

@media (max-width: 1310px) {
  .clients__testimonial {
    grid-template-columns: 1fr;
  }

  .clients__photo {
    display: none;
  }

  .clients__text {
    justify-items: center;
  }

  .slick-dots {
    left: calc(50% - 46px);
  }
}
