@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cardo');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

@import url('masthead.css');
@import url('features.css');
@import url('works.css');
@import url('team.css');
@import url('clients.css');
@import url('download.css');
@import url('footer.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

address {
  font-style: normal;
}

.wrapper {
  min-height: 100vh;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: block;
  background-color: #e84545;

  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 2px;

  color: #ffffff;
  font-family: 'Raleway';
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  background-color: #f29999;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(3, 40px);
}

.social-icon {
  width: 40px;

  text-align: center;

  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.3, 1.3);
}

.slick-prev {
  left: 25px;
  z-index: 1;
}

.slick-next {
  right: 25px;
}

.slick-dots li {
  width: 12px;
  height: 12px;
  margin: 0 4px;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
  padding: 0px;
}

.slick-dots li button:before {
  font-size: 12px;
  line-height: 12px;

  width: 12px;
  height: 12px;

  opacity: 0.2;
  color: white;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}

@media (max-width: 680px) {
  html {
    font-size: 10px;
  }

  .button {
    width: 100%;
  }
}

@media (max-width: 470px) {
  html {
    font-size: 7.5px;
  }

  .button {
    width: 100%;
  }
}
