.clients__testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;

  @media (max-width: 1286px) {
    grid-template-columns: 1fr;
  }
}

.clients__photo {
  @media (max-width: 1286px) {
    display: none;
  }
}

.clients__photo-img {
  display: block;
  width: 100%;
}

.clients__text {
  position: relative;
  background-color: #53354a;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @media (max-width: 1286px) {
    justify-items: center;
  }
}

.clients__quote-figure {
  max-width: 500px;
  margin: 15px 85px 93px 85px;
}

.clients__quote {
  color: #ffffff;
  font-family: 'Cardo';
  font-size: 2.25rem;
  font-style: italic;
  line-height: 2.625rem;
  text-align: left;
}

.clients__quote::before {
  content: open-quote;
}

.clients__quote::after {
  content: close-quote;
}

.clients__name {
  margin-top: 30px;

  color: #ffffff;
  font-family: 'Raleway';
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.clients__slider-dots {
  width: auto;
  left: calc(50% + 289px);
  bottom: 20%;

  @media (max-width: 1286px) {
    left: calc(50% - 46px);
  }
}

.clients__slider-dots li button:before {
  color: white;
}

.clients__slider-dots li.slick-active button:before {
  color: white;
}
